<% if !@low_stock.empty? || !@out_of_stock.empty?%>

  <% if !@low_stock.empty? %>
    <div class="stock-div">
      <h3 class ="stock_text">The following albums are low on stock:</h3>
      <table class ="stock-table">
        <thead>
          <tr>
            <td class ="stock_text">Album</td>
            <td class ="stock_text">Target Stock</td>
            <td class ="stock_text">Current Stock</td>
          </tr>
        </thead>
        <tbody>
        <% for info in @low_stock do %>
          <tr>
            <td class ="stock_text" style="text-align: center"><%= info[:album].title %></td>
            <td class ="stock_text" style="text-align: center"><%= info[:album].target_stock %></td>
            <td class ="stock_text" style="text-align: center"><%= info[:album].current_stock %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
   <% end %>

   <% if !@out_of_stock.empty? %>
     <div class="stock-div">
       <h3 class ="stock-text">The following albums are out of stock:</h3>
       <table class ="stock_table">
         <thead>
           <tr>
             <td class ="stock_text">Album</td>
             <td class ="stock_text">Target Stock</td>
             <td class ="stock_text">Current Stock</td>
           </tr>
         </thead>
         <tbody>
         <% for info in @out_of_stock do %>
           <tr>
             <td class ="stock_text" style="text-align: center"><%= info[:album].title %></td>
             <td class ="stock_text" style="text-align: center"><%= info[:album].target_stock %></td>
             <td class ="stock_text" style="text-align: center"><%= info[:album].current_stock %></td>
           </tr>
         <% end %>
         </tbody>
       </table>
      </div>
    <% end %>

    <div class="stock-form">
      <p class ="stock_text">The total cost to replenish stock is £<%= @total_cost %>.<br>
         Would you like to replenish stock now?</p>
      <form action = "/rubyrecords/albums/stock/replace" method= "POST">
        <input type="submit" value="Replenish Stock"/>
      </form>
    </div>

<% end %>

<% if @low_stock.empty? && @out_of_stock.empty? %>

  <h3 class ="stock_text">Stock is up to date.</h3>

<% end %>
